@import 'normalize.css'; // reset css

@import '~react-image-gallery/styles/scss/image-gallery.scss'; // css thư viện gallery
.image-gallery-image {
    object-fit: cover !important;
}
.image-gallery,
.image-gallery-content,
.image-gallery-slide-wrapper,
.image-gallery-swipe,
.image-gallery-slides,
.image-gallery-slide,
.image-gallery-image {
    width: 100%;
}

:root {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
    display: block;
}

//tippi css
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        font-size: 1.4rem;
        line-height: 2.2rem;
        font-weight: 600;
        overflow-y: overlay;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}

// Scroll bar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
svg,
img {
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.col-25 {
    flex-basis: 25%;
}
.col-50 {
    flex-basis: 50%;
}
.col-75 {
    flex-basis: 75%;
}

// popup login
.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}
