.wrapper {
    width: 40rem;
    height: 50rem;
    background-color: white;
    border-radius: 2rem;
    padding: 6rem 5rem;
    font-size: 1.4rem;

    .header {
        display: block;
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            border-bottom: 1.5px solid #007bff;
            width: 75px;
            bottom: -4px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    label {
        display: block;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }
    input {
        display: block;
        width: 100%;
        padding: 0.7rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }
    .signin {
        margin-top: 2rem;
        a {
            display: inline;
            color: #007bff;
        }
    }

    .login-btn {
        margin-top: 2rem;
        width: 100%;
        background: linear-gradient(90deg, #ff8100, #f05225);
        border: 0;
        border-radius: 0.6rem;
        color: #fff;
        padding: 0.9rem 0;
    }
    .forget-password {
        margin-top: 1rem;
        display: block;
        color: #007bff;
    }
}
